* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}

.card {
  border: 5px solid white;
  width: 300px;
  margin: auto;
  position: relative;
  margin-top: 15px;
}

img {
  object-fit: cover;
  height: 200px;
  width: 100%;
}
.name {
  color: black;
  position: absolute;
  top: 20px;
  right: -40px;
}

.name > h2 {
  background-color: white;
  opacity: 0.9;
  border-radius: 10px;
  border: 2px solid aquamarine;
  margin: 10px;
  padding: 3px;
}
